<% if (success_msg && success_msg.length > 0) { %>
    <div class="flash-message flash-success">
      <i class="fas fa-check-circle"></i>
      <%= success_msg %>
      <button class="close-flash">&times;</button>
    </div>
  <% } %>
  
  <% if (error_msg && error_msg.length > 0) { %>
    <div class="flash-message flash-error">
      <i class="fas fa-exclamation-circle"></i>
      <%= error_msg %>
      <button class="close-flash">&times;</button>
    </div>
  <% } %>
  
  <script>
    document.querySelectorAll('.close-flash').forEach(btn => {
      btn.addEventListener('click', (e) => {
        e.target.parentElement.remove();
      });
    });
  
    // Auto-remove flash messages after 5 seconds
    setTimeout(() => {
      document.querySelectorAll('.flash-message').forEach(msg => {
        msg.remove();
      });
    }, 5000);
  </script>