<h1>Liste des Campagnes de Don de Sang</h1>

<!-- Bouton pour revenir à l'accueil -->
<a href="/">
  <button style="margin-bottom: 20px; padding: 10px 20px;">Retour Accueil</button>
</a>

<!-- Ici on affichera les campagnes -->
<div>
  <p>Aucune campagne pour le moment.</p>
</div>
