<h1>Liste des Rendez-vous</h1>

<p>Ici s'afficheront tous les rendez-vous pris.</p>
<a href="/api/campaigns">
    <button style="padding: 10px 20px; font-size: 16px;">Prendre Rendez-vous</button>
  </a>